##################
## ╔╗╔┌─┐┌┬┐┌─┐ ##
## ║║║│ │ ││├┤  ##
## ╝╚╝└─┘─┴┘└─┘ ##
##################
node_modules
bower_components
/dist*
.tmp

#########################
## ╔═╗┌─┐┬─┐┬  ┬┌─┐┬─┐ ##
## ╚═╗├┤ ├┬┘└┐┌┘├┤ ├┬┘ ##
## ╚═╝└─┘┴└─ └┘ └─┘┴└─ ##
#########################
.htaccess
*.log
*.log

#################################
## ╦ ╦┌─┐┬─┐┌┬┐┌─┐┬─┐┌─┐┌─┐┌─┐ ##
## ║║║│ │├┬┘ ││├─┘├┬┘├┤ └─┐└─┐ ##
## ╚╩╝└─┘┴└──┴┘┴  ┴└─└─┘└─┘└─┘ ##
#################################
/wp
wp-cli.local.yml

##################
## ╔═╗┌─┐┌─┐┌─┐ ##
## ╚═╗├─┤└─┐└─┐ ##
## ╚═╝┴ ┴└─┘└─┘ ##
##################
.sass-cache

#########################
## ╦ ╦┬┌┐┌┌┬┐┌─┐┬ ┬┌─┐ ##
## ║║║││││ │││ ││││└─┐ ##
## ╚╩╝┴┘└┘─┴┘└─┘└┴┘└─┘ ##
#########################
Thumbs.db
*.ini

###############
## ╔╦╗┌─┐┌─┐ ##
## ║║║├─┤│   ##
## ╩ ╩┴ ┴└─┘ ##
###############
.DS_Store

#############################
## ╔╦╗┌─┐┌─┐┌─┐┬ ┬┬ ┌┬┐┌─┐ ##
##  ║║├┤ ├┤ ├─┤│ ││  │ └─┐ ##
## ═╩╝└─┘└  ┴ ┴└─┘┴─┘┴ └─┘ ##
#############################
!*.default
