# NODE
node_modules
bower_components
/dist*

# SERVER
.htaccess
*.log
*.log

#######################################################
##          __   __   __|  __   __   ___    __   __  ##
## (__(__( (__) |  ' (__| |__) |  ' (__/_ __)  __)   ##
##                        |                          ##
#######################################################

###########################
##    __  __    __   __  ##
## __)  (__( __)  __)    ##
###########################
.sass-cache

############################################
##         o  __   __|  __            __  ##
## (__(__( | |  ) (__| (__) (__(__( __)   ##
############################################
Thumbs.db
*.ini

#######################
##  __ __   __   __  ##
## |  )  ) (__( (___ ##
#######################
.DS_Store


# Include defaults
!*.default
