<p>DisOrder is a visual organization tool that helps you categorize all the things you need to get done.</p>

<p>It is an open source <a href="http://angularjs.org">AngularJS</a> and <a href="http://wp-api.org/">WordPress REST</a> side project created by <a href="http://github.com/azanebrain">AJ Zane</a> in ongoing development and a constant state of disrepair.</p>

<p>Please <a href="https://github.com/azanebrain/disorder">fork the repo</a>, <a href="https://github.com/azanebrain/disorder#setup">setup your own disorder</a>, <a href="https://github.com/azanebrain/disorder#roadmap">checkout the roadmap</a> and stay organized.</p>
