<div ng-controller="DisorderCtrl">


  <div class="disorders-filter">
    <h1>Filter all dis order:</h1>
    <p>
      Name: 
      <input type="text" value="Filter" ng-model="searchDisorders.title">
      <br>Description: 
      <input type="text" value="Filter" ng-model="searchDisorders.content">
      <br> Tag:
      <input type="text" ng-model="searchDisorders.terms">
      <br>
      Strict search:
      <input type="checkbox" ng-model="strict">
    </p>
  </div>
  <div class="disorders-unique-tags">
    Unique tags:
    <br>
    <span ng-repeat="term in disorders.uniqueTags">
      <input type="checkbox" ng-model="filter['{{term.slug}}']" id="{{term.slug}}" class="hidden" />
      <label for="{{term.slug}}">{{term.name}}</label>&nbsp;
    </span>
  </div>

  <div class="disorders-wrap">
    <div class="disorder-item" ng-repeat="disorder in filtered=(disorders.list | filter:searchDisorders:strict ) ">
      <p>
        <strong>{{ disorder.title }}:</strong>
      </p>
      <div ng-bind-html="disorder.content"></div>
      <br>
      Tags: <span ng-repeat="term in disorder.terms.post_tag | filter:searchDisorders.terms">{{term.slug}}, </span> 
      <br>
    </div>
  </div>

  <div>
    <p>Total disorder: {{disorders.list.length}}</p>
    <p>Filtered disorder: {{filtered.length}}</p>
  </div>
</div>