<div ng-controller="DisorderCtrl">
  <div class="disorders-filter">
    Filter all dis order.
    <br>Name: 
    <input type="text" value="Filter" ng-model="searchDisorders.name">
    <br>Description: 
    <input type="text" value="Filter" ng-model="searchDisorders.description">
    <br>
    Tag:
    <input type="text" ng-model="searchDisorders.tags">
    <br>
  </div>

  <div class="disorders-wrap" style="width: 100%; background: #F0F0F0; position: relative; display: block; clear:both;">
    <div class="disorder-item" ng-repeat="disorder in filtered=(disorders.list | filter:searchDisorders ) " style="border: solid 1px black; width: 30%;  height: 125px; position: relative; display: inline-block">
      {{ disorder.title }} : {{ disorder.content }}
      <br>Tags: 
      <span>{{disorder.tags.join(', ')}}</span>
    </div>
    <p>Total disorder: {{disorders.list.length}}</p>
    <p>Number of results: {{filtered.length}}</p>
  </div>
</div>