<div ng-controller="DisorderCtrl">
  <div class="disorders-filter">
    Filter all dis order.
    <br>Name: 
    <input type="text" value="Filter" ng-model="searchDisorders.name">
    <br>Description: 
    <input type="text" value="Filter" ng-model="searchDisorders.description">
    <br>
  </div>

  <div class="disorders-wrap">
    <div class="disorder-item" ng-repeat="disorder in disorders.list | filter:searchDisorders">
      {{ disorder.name }} : {{ disorder.description }}
    </div>
  </div>
</div>